.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: '10px';
}

.card-reservation {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.card-detail {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 50%;
}


